<%= form_for [@bet, @comment] do |f| %>
<div id="flip">
  <%= f.label :body, "Add Comment", class: "tiny button info round" %>
</div>
<div id="panel">
  <%= f.text_field :body %>

  <%= f.submit "Submit", class: "button round success" %>
</div>
<%- end -%>
