<div class="all bets">
  <div class="row index-content" data-equalizer>
    <div class="accepted-bets small-6 columns panel" data-equalizer-watch>
      <h4>Active Bets<h4>
        <ol>
          <% @bets.each do |bet| %>
            <% if bet.accepted? %>
              <li><%= link_to bet.title, bet_path(bet) %></li>
            <% end %>
          <% end %>
        </ol>
    </div>
    <div class="pending-bets small-6 columns panel" data-equalizer-watch>
      <h4>Pending Bets</h4>
        <ol>
          <% @bets.each do |bet| %>
            <% if !bet.accepted && !bet.declined %>
              <li><%= link_to bet.title, bet_path(bet) %></li>
            <% end %>
          <% end %>
        </ol>
    </div>
  </div>
        <%= paginate @bets %>
</div>
