<div class="all bets">
  <div class="row index-content" data-equalizer>
    <div class="accepted-bets small-6 columns panel" data-equalizer-watch>
      <h4>Active Bets<h4>
        <ol>
          <% @active_bets.each do |bet| %>
              <li><%= link_to bet.title, bet_path(bet) %></li>
          <% end %>
        </ol>
        <%= paginate @active_bets %>
    </div>
    <div class="pending-bets small-6 columns panel" data-equalizer-watch>
      <h4>Pending Bets</h4>
        <ol>
          <% @pending_bets.each do |bet| %>
              <li><%= link_to bet.title, bet_path(bet) %></li>
          <% end %>
        </ol>
        <%= paginate @pending_bets %>
    </div>
  </div>
</div>
