/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body {
  /* font-family: Helvetica, sans-serif; */
}

 .main-container {
   background-color: #CCFFFF;
 }
.main-title {
  margin-top: 100px;
  border-bottom: 5px groove green;
}

.footer {
  margin-top: 25px;
  padding-bottom: 25px;
  border-top: 5px groove green;
}

.panel {
  text-align: center;
}

.row .row {
  max-width: 900px;
  margin: auto;
}

.bet {
  max-width: 900px;
  margin: auto;
  text-align: justify;
}

.top-bar {
  background-color: #00CC66;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #00CC66;
}

.pending-bets {
  width: 49%;
  padding: 10px;
}

.accepted-bets {
  width: 49%;
  padding: 10px;
}

div.panel {
  max-width: 900px;
  margin: auto;
  text-align: justify;
}

.bet {
  max-width: 500px;
}

.bet h2 {
  text-align: center;
 }

div.row.bet {
  max-width: 500px;
  .button {
    text-align: center;
  }
}

.row .row h4 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 25px;
}

.row .row li {
  text-align: justify;
  margin: 5px 40px;
}

span.bold {
  font-weight: bold;
}

span.center {
  text-align: center;
}

div h5 {
  text-align: center;
}

div.comment-delete {
  text-align: right;
}

div.comment-new {
  margin-top: 15px;
}

#panel {
    display: none;
}
#flashy-wrapper {
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #EFEF95;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 1.5em;
  padding: 20px;
  display: none;
}

.button.round {
  margin: 10px 0;
}
